body{
    display:flex;
    flex-direction: column;
    min-width: 375px;
}

.Entries{
  display: flex;
  flex-direction: row;
}

header{
    flex: 0 80px;
}

footer{
  display: flex;
  flex:0 30px;
  align-items: center;
  justify-content: center;
  font-size: 1.70rem;
}

menu{
    flex:1;
    display: flex;
    list-style: none;
    flex-direction: row !important;
    padding-left: 6.25px;
}

.Main{
  display:flex;
  flex-direction: column;
  flex: 1 calc(100vh - 110px);
  align-items: center;
  justify-content: space-around;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.today{
  padding-left: 110px;
  
}

.Text-box{
  display:flex;
  flex: 1 calc(100vh - 110px);
  align-items: center;
  justify-content: space-around;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

blockquote {
  display: block;
}

.Qu{
  font-size: 1.50rem;
}

.btn.btn-danger{
  --bs-btn-color:black;
  --bs-btn-bg:#E74F4B;
  --bs-btn-border-color: black;
}

.s-button{
  font-size: x-large !important;
}

.One-text{
  font-size: x-large !important;
}

.Input-box{
  font-size: larger !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.Boxes{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 calc(100vh - 110px);
  text-align: center;
}
#Boxes{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 calc(100vh - 110px);
  text-align: center;
}

.navbar.fixed-top.navbar-dark{
  background-color: #FF9B98;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  